body {
    margin: 0;
}

header {

    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 2400px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: end;
    border-bottom: solid;
    padding: 10px;
    background-color: #60992e33;
}

.navitem {
    text-decoration: none;
    padding: 8px
}

.navitem:hover {
    color: #e20b0be3;
}


.container {
    width: 700px;
    margin: 0 auto;
    padding: 0 2px;
    opacity: 0;
    /* Start fully transparent */
    transform: translateY(20px);
    /* Start slightly below */
    animation: fadeInOut 5s infinite;
    /* animation-duration: 1s; */
    animation-play-state: running;
    /* Animation name, duration, and keep final state */
    height: 80vh;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
        /* Fully transparent */
    }

    100% {
        opacity: 1;
        /* Fully transparent again */
    }
}

/* 
.border {
    border: 1px dashed #dfdfdf;
    border-radius: 4px;
} */

.bg-default {
    background-color: aqua;
    /* opacity: 0; */
}

.bold {
    font-weight: bolder;
}

p.underline {
    text-decoration: underline;
}

.text-red {
    color: red;
}

.bigcontainer {
    /* display: flex;*/
    flex-wrap: wrap;

}

footer {
    background-color: #282c34;
    /* Dark background color */
    color: white;
    text-align: center;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Space between icons */
}

.social-links a img {
    width: 40px;
    /* Icon size */
    height: 40px;
    transition: transform 0.3s;
}

.social-links a img:hover {
    transform: scale(1.2);
    /* Slightly enlarge on hover */
}